Split csvs from large meter data file into smaller ones that can be loaded to github

In [2]:
import pandas as pd
import numpy as np
import scipy as sc
import seaborn as sns

In [3]:
data = pd.read_csv("full_meter_data.csv")

In [4]:
data.head()

,stall,purchased,expiry,lot,start_month,start_weekday,start_hr_24,start_hr_12,end_month,end_weekday,end_hr_24,end_hr_12
0,1724,2015-01-01 09:39:15,2015-01-01 10:09:15,Bermuda,1,Thursday,9,9am,1,Thursday,10,10am
1,3637,2015-01-01 10:49:53,2015-01-01 12:07:53,Lot 7--W. Troy center,1,Thursday,10,10am,1,Thursday,12,12pm
2,5216,2015-01-01 11:51:25,2015-01-01 13:09:25,Lot 13--E. 9-Mile (Como's),1,Thursday,11,11am,1,Thursday,13,1pm
3,1324,2015-01-01 12:05:12,2015-01-01 13:35:12,E. Troy,1,Thursday,12,12pm,1,Thursday,13,1pm
4,3948,2015-01-01 12:10:38,2015-01-01 13:40:38,Lot 10--Library,1,Thursday,12,12pm,1,Thursday,13,1pm

In [5]:
len(data)

3481432

In [6]:
len(data)/4

870358.0

In [11]:
# use 900,000 rows per small data frame
df1 = data.iloc[0:900000,]
df2 = data.iloc[900000:1800000,]
df3 = data.iloc[1800000:2700000,]
df4 = data.iloc[2700000:,]

In [12]:
print(len(df1))
print(len(df2))
print(len(df3))
print(len(df4))

900000
900000
900000
781432

In [15]:
# write smaller dfs to csv
df1.to_csv("full_data_1.csv", index=False)
df2.to_csv("full_data_2.csv", index=False)
df3.to_csv("full_data_3.csv", index=False)
df4.to_csv("full_data_4.csv", index=False)

In [16]:
# read smaller dfs from csv
df1 = pd.read_csv("full_data_1.csv")
df2 = pd.read_csv("full_data_2.csv")
df3 = pd.read_csv("full_data_3.csv")
df4 = pd.read_csv("full_data_4.csv")

In [17]:
# check lengths
print(len(df1))
print(len(df2))
print(len(df3))
print(len(df4))

900000
900000
900000
781432

In [18]:
# piece smaller dfs back together
new_data = df1.append(df2).append(df3).append(df4)
new_data.head()

,stall,purchased,expiry,lot,start_month,start_weekday,start_hr_24,start_hr_12,end_month,end_weekday,end_hr_24,end_hr_12
0,1724,2015-01-01 09:39:15,2015-01-01 10:09:15,Bermuda,1,Thursday,9,9am,1,Thursday,10,10am
1,3637,2015-01-01 10:49:53,2015-01-01 12:07:53,Lot 7--W. Troy center,1,Thursday,10,10am,1,Thursday,12,12pm
2,5216,2015-01-01 11:51:25,2015-01-01 13:09:25,Lot 13--E. 9-Mile (Como's),1,Thursday,11,11am,1,Thursday,13,1pm
3,1324,2015-01-01 12:05:12,2015-01-01 13:35:12,E. Troy,1,Thursday,12,12pm,1,Thursday,13,1pm
4,3948,2015-01-01 12:10:38,2015-01-01 13:40:38,Lot 10--Library,1,Thursday,12,12pm,1,Thursday,13,1pm

In [19]:
len(new_data)

3481432